<div id="loading-body" class="loading-container" style="display: none">
  <div id="loading" class="loading">
    <span style="margin-left: 15px;">Loading..</span>
  </div>
</div>
<div id="error-body" class="alert alert-danger" style="display: none">
  <p id="error-content">Oops payment isn't completed</p>
</div>
<div style="  width: 80%;
    text-align: center;
    margin-left: 10%;" *ngIf="planDetail">
  <div>You are updating your card details to continue Treat your dogs</div>
  <hr>
  <div>Plan ID: {{planDetail.name}}</div>
  <div>Frequency: {{planDetail.chargeFrequency}}</div>
</div>

<div class="panel panel-default bootstrap-basic" id="update-payment-form" >
  <form class="panel-body" id="checkout-form" action="#">
    <div class="row">
      <!--Hosted Field for CC number-->
      <div class="form-group col-md-12">
        <label for="card-number">Card Number</label>
        <div class="input-group">
          <div class="form-control" id="card-number" data-bluesnap="ccn"></div>
          <div id="card-logo" class="input-group-addon"><img src="https://files.readme.io/d1a25b4-generic-card.png" height="20px"></div>
        </div>
        <span class="helper-text" id="ccn-help"></span>
      </div>
      <!--Hosted Field for CC EXP-->
      <div class="form-group col-xs-7">
        <label for="exp-date">Exp. Date</label>
        <div class="form-control" id="exp-date" data-bluesnap="exp"></div>
        <span class="helper-text" id="exp-help"></span>
      </div>
      <!--Hosted Field for CC CVV-->
      <div class="form-group col-xs-5">
        <label for="cvv">Security Code</label>
        <div class="form-control" id="cvv" data-bluesnap="cvv"></div>
        <span class="helper-text" id='cvv-help'></span>
      </div>
    </div>
    <div style="text-align: center; margin-top: 7%">
      <button class="btn btn-success btn-lg col-xs-6" style="width:100%; font-size: 5vw !important;background-color: deeppink !important; text-align: center !important; border: none !important;" type="button" id="submit-button"  onclick="do_when_clicking_submit_button()">Update Card</button>
      <br/>
      <p style="font-size: x-small">Cancel anytime  <i class="fa fa-lock" style="margin-left: 1%" aria-hidden="true"> Secure payment</i></p>
    </div>
  </form>
</div>

<div id="payment-update-success" class="successScreen" style="display: none">
  <div class="card">
    <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
      <i class="success-checkmark">✓</i>
    </div>
    <h1 class="successH1">Success</h1>
    <p class="successContent">The payment source is updated<br/> Thanks for your Treatment! </p>
  </div>
</div>
