<app-update-plan *ngIf="subscriptionId"></app-update-plan>

<div *ngIf="expired" class="alert alert-danger" style="margin-top: 15%; text-align: center">
  <p>Session expired. Please go back to the app and try again.</p>
</div>


<div *ngIf="!subscriptionId && !expired">
  <div id="error-body" class="alert alert-danger" style="display: none">
    <p id="error-content">{{errorContent}}</p>
  </div>
  <div id="error-body-from-url" class="alert alert-danger" *ngIf="errorDetails">
    <p id="error-body-from-url-content">{{errorDetails}}</p>
  </div>
  <div style="width: 100%; text-align: center; font-weight: bold;font-size: large; margin-top: -4%">
    <span *ngIf="plan != null && !plan.includes('SHARED')">{{plan == 'FREE_DELIVERY' ? 'Unlimited deliveries' : (plan.includes('MEAL_1') ? (version && trial ? '3 Day Trial: 1 Meal / Day':'1 Meal / Day'): '3 Meals / Day')}}</span>
    <p *ngIf="plan != null && plan.includes('SHARED')" style="margin: 0 0 0">
      {{sharedMealTitle}}
    </p>
    <p *ngIf="plan != null && plan.includes('SHARED')" style="font-size:small; margin: 0 0 0">
      {{plan != null && plan.includes('MEAL_1') ? '320 kibbles a day shared between your dogs' : '960 kibbles a day shared between your dogs'}}
    </p>
    <br *ngIf="plan != null && plan != 'FREE_DELIVERY' && !plan.includes('SHARED')"/>
    <p *ngIf="plan != null && plan != 'FREE_DELIVERY' && !plan.includes('NO_SHIPPING')" style="font-size:x-small; margin: 0 0 0;">Bonus: Unlimited deliveries (all dogs)</p>
    <p *ngIf="rolls" style="font-size:medium; margin: 0 0 0;">{{bonusDetails}}</p>
  </div>
  <div id="payment-form" class="panel panel-default bootstrap-basic" [ngStyle]="{'width': (isMobileView ? '100%' : '40%')}">
    <div *ngIf="paypal_plan_id" id="paypal-button-container" style="flex: 1;padding-left: 9%; padding-right: 9%" (click)="increaseSessionTimeIfNeeded()"></div>
    <div style="width: 91%;
    margin: 0.5em 0;
    padding-left: 9%;
    height: 40px" *ngIf="showGPay" id="gpay-container" (click)="increaseSessionTimeIfNeeded()"></div>
    <div style="width: 91%;
    margin: 0.5em 0;
    padding-left: 9%;">
      <button style="width: 100%; visibility: hidden" *ngIf="showAPay && isApproveToken" id="apple-pay-button"></button>
    </div>
    <div *ngIf="paypal_plan_id && (showGPay || showAPay) && !version && token && showBluesnap" style="display: flex; align-items: center; justify-content: center;
  margin: 1.5em 0;
  margin-bottom: 2em;">
      <hr style="flex: 1; border: none; border-top: 1px solid darkgrey; margin: 0;">
      <span style="margin: 0 1em; color: darkgrey; font-size: 1rem; line-height: 1;">OR</span>
      <hr style="flex: 1; border: none; border-top: 1px solid darkgrey; margin: 0;">
    </div>
    <form class="panel-body" *ngIf="!version && token" id="checkout-form" action="#">
      <div class="row" style="margin-bottom: -15px" *ngIf="showBluesnap">
        <!--Hosted Field for CC number-->
        <div>
          <div class="form-group col-md-12" style="margin-bottom: 0px; margin-top: -30px;">
            <label for="card-number" style="font-size: small;">Card Number</label>
            <div id="ccn-analytics" (click)="clickOnCard()"></div>
            <div class="input-group">
              <div class="form-control" id="card-number" data-bluesnap="ccn"></div>
              <div id="card-logo" class="input-group-addon"><img src="https://files.readme.io/d1a25b4-generic-card.png" height="20px"></div>
            </div>
            <span class="helper-text" id="ccn-help"></span>
          </div>
          <!--Hosted Field for CC EXP-->
          <div class="col-xs-7" >
            <label for="exp-date" style="font-size: small;">Exp. Date</label>
            <div id="exp-analytics" (click)="clickOnExpDate()"></div>
            <div class="form-control" id="exp-date" data-bluesnap="exp"></div>
            <span class="helper-text" id="exp-help"></span>
          </div>
          <!--Hosted Field for CC CVV-->
          <div class="col-xs-5">
            <label for="cvv" style="font-size: small;">CVV</label>
            <div id="cvv-analytics" (click)="clickOnCVV()"></div>
            <div class="form-control" id="cvv" data-bluesnap="cvv" (click)="clickOnCVV()"></div>
            <span class="helper-text" id='cvv-help'></span>
          </div>
        </div>

        <div class="col-md-12" style="position: static; " *ngIf="isAnonymous && showBluesnap" >
          <div style="width: 100%;
    height: 28px;
    background-color: grey;
    position: absolute;
    border-radius: 4px;
    color: #ffffffc9;
    padding: 2%;
    margin-top: 20%;
    font-size: smaller;" *ngIf="showEmailHint" >
            <p>For potential customer service support purposes</p>

          </div>
          <label for="email" style="font-weight: 700">Contact details</label>
          <input id="email"  [(ngModel)]="enteredEmail" type="email"  style="width: 85%; padding-left: 3%; height: 35px" placeholder="example@email.com">
          <button mat-icon-button *ngIf="!showEmailHint" (click)="showEmailHint = ! showEmailHint"><mat-icon>help</mat-icon></button>
          <button mat-icon-button *ngIf="showEmailHint" (click)="showEmailHint = ! showEmailHint"><mat-icon>close</mat-icon></button>
        </div>


      </div>

      <div style="text-align: center; width: 100%; margin-top: 5%; font-size: x-small">
        <p style="margin:0 0 0">{{detailString}}</p>
        <p style="margin:0 0 0; font-size: small" ><span style="font-weight: bold">Total:</span> {{total}} USD {{detailSharedString}}</p>
      </div>
      <div style="text-align: center; margin-top: 1.5em" *ngIf="showBluesnap">
        <button class="btn btn-success btn-lg col-xs-6"
                style="width:100%; font-size: 5vw !important;background-color: deeppink !important; text-align: center !important; border: none !important;"
                type="button" id="submit-button"  onclick="do_when_clicking_submit_button()" (click)="increaseSessionTimeIfNeeded()">{{trial ? '3 Day Trial & Subscribe' : 'Subscribe'}}</button>
        <br/>
        <p style="font-size: x-small">Cancel anytime  <i class="fa fa-lock" style="margin-left: 1%" aria-hidden="true"> Secure payment</i></p>
      </div>
      <div *ngIf="(showGPay || showAPay || !isApproveToken) && !expired && showTimer" style="text-align: center;width: 100%; font-size: small">Session expires: {{ expireDetails }}</div>

      <div id="subscribe-analytics" (click)="clickOnSubscribe()"></div>
      <div id="subscribe-gpay" (click)="clickOnGpay()"></div>
      <div id="click-paypal-button" (click)="clickOnPaypalButton()"></div>
      <div id="valid-bluesnap-analytics" (click)="validBluesnap()"></div>
      <div id="success-paypal" (click)="successPaypal()"></div>
      <div id="success-gpay" (click)="successGPay()"></div>
      <div id="success-apay" (click)="successAPay()"></div>
      <div id="invalid-bluesnap-analytics" (click)="inValidBluesnap()"></div>
      <div id="subscribe-analytics-success" (click)="clickOnSubscribeSuccess()"></div>
      <div id="subscribe-analytics-error" (click)="clickOnSubscribeError()"></div>
    </form>
    <div style="text-align: center; width: 100%; font-size: x-small" *ngIf="version">
      <p style="margin:0 0 0">{{detailString}}</p>
      <p style="margin:0 0 0; font-size: small"><span style="font-weight: bold">Total:</span> {{total}} USD {{detailSharedString}}</p>
    </div>
    <p style="font-size: x-small; text-align: center" *ngIf="version && paypal_plan_id"> <i class="fa fa-lock" style="margin-left: 1%" aria-hidden="true"> Secure payment</i></p>
  </div>
  <div id="payment-success" class="successScreen" style="display: none">
    <div class="card">
      <div style="border-radius:200px; height:200px; width:200px; background: #F8FAF5; margin:0 auto;">
        <i class="success-checkmark">✓</i>
      </div>
      <h1 class="successH1">Success!</h1>
      <p class="successContent">Switch back to the app to finish up </p>
    </div>
  </div>

  <div id="loading-body" class="loading-container" style="display: none">
    <div id="loading" class="loading">
      <span style="margin-left: 15px;">Loading..</span>
    </div>
  </div>
</div>

